In [1]:
import pandas as pd
import json

In [2]:
df_annotate_first = pd.read_csv('/home/sd3528/hetav-2/data/2700_comments_final_labeled.csv')

In [3]:
df_annotate_first['label'].value_counts()

label
6    1065
5     715
7     266
3     231
1     231
4     141
2      58
Name: count, dtype: int64

In [4]:
df_annotate_first['label'] = df_annotate_first['label'].apply(lambda x: int(x) - 1)
df_annotate_first['label'].value_counts()

label
5    1065
4     715
6     266
2     231
0     231
3     141
1      58
Name: count, dtype: int64

In [5]:
df_majority_sampling = pd.read_csv('/home/sd3528/hetav-2/data/top_100_majority_human_annotate_corrected.csv')
df_majority_sampling

,id,text,human_label
0,0933ba35-b3ee-4dd3-8309-c4bd0d128666,Em clear ga cheppav :party_popper:nice :thumbs...,6
1,a75b4d0d-a089-478f-a615-432109ffafaa,Paisa is sab hai ... Our system is totally cor...,5
2,461c8dd7-449f-4789-a3a2-67a3efd72074,We want justice.....the value of their lives z...,4
3,267daf2c-7cde-4b0d-8688-b8fa1d0bed55,I lived in ahmednagar.. And i found that u nee...,2
4,67e905d8-2823-4241-b1fd-7b88e677a4a9,"You always covered the news really well ,comm...",6
...,...,...,...
695,bb3731f5-977b-43e8-9cc4-39c94e61c6a4,I am from Indore and I don’t hesitate to accep...,2
696,27694197-80f1-4cf4-8f9d-de4cc336f789,Indian judiciary system fucked up....I persona...,1
697,80f9e4ea-773d-46be-9779-6f9699b5b1d0,Money is everything in India. You have money a...,3
698,5bc925eb-3ebb-4081-ab1e-e7ba41937fb9,Nothing changed in 10 years .people are being ...,2
699,1f95a3ad-258f-4187-8791-cb1fbd12f5e2,Justice for both of them and my condolences om...,4

In [6]:
df_majority_sampling['human_label'].value_counts()

human_label
5    133
6    123
1    106
3    100
7     98
4     93
2     47
Name: count, dtype: int64

In [7]:
df_majority_sampling['label'] = df_majority_sampling['human_label'].apply(lambda x: int(x) - 1)
df_majority_sampling['label'].value_counts()

label
4    133
5    123
0    106
2    100
6     98
3     93
1     47
Name: count, dtype: int64

In [8]:
df_total = pd.concat([df_annotate_first, df_majority_sampling], ignore_index=True)
df_total['label'].value_counts()

label
5    1188
4     848
6     364
0     337
2     331
3     234
1     105
Name: count, dtype: int64

In [10]:
df_test = pd.read_csv('/home/sd3528/hetav-2/data/eval_30_each.csv')

In [11]:
final_dataset = []
count = 0
test_texts = df_test['text'].tolist()
for d in df_total.to_dict(orient='records'):
  if d['text'] in test_texts:
    count += 1
  else:
    final_dataset.append({
      'text':d['text'],
      'label':d['label']
    })

In [12]:
final_dataset = pd.DataFrame(final_dataset)
final_dataset

                                                   text  label
0      :face_with_tears_of_joy::face_with_tears_of_joy:      5
1                 His parents should be jailed for this      4
2     This pain is beyond imagination.. I've gone th...      4
3                                 #justicefortheemplyee      5
4                      So sad:crying_face::crying_face:      4
...                                                 ...    ...
3238  I am from Indore and I don’t hesitate to accep...      1
3239  Indian judiciary system fucked up....I persona...      0
3240  Money is everything in India. You have money a...      2
3241  Nothing changed in 10 years .people are being ...      1
3242  Justice for both of them and my condolences om...      3

[3243 rows x 2 columns]

In [13]:
final_dataset = final_dataset.sample(frac=1, random_state=0).reset_index(drop=True)

In [14]:
df_original_train = final_dataset[:round(len(final_dataset)*0.8)]
df_original_train = df_original_train.sample(frac=1, random_state=0).reset_index(drop=True)
df_original_train.to_csv('/home/sd3528/hetav-2/data/certainty/train.csv', index=False)
df_original_test = final_dataset[round(len(final_dataset)*0.8):]
df_original_test = df_original_test.sample(frac=1, random_state=0).reset_index(drop=True)
df_original_test.to_csv('/home/sd3528/hetav-2/data/certainty/test.csv', index=False)